<h1>Add Items</h1>
<p>Keep updated on what items you have.</p>
<hr>

<%= form_for [:my, @item] do |f| %>

    <% if @item.errors.any? %>
    <div class="error_messages"%>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @item.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <%end %>
  
  <%= render "form", :f => f %>

  <%= f.submit "Update", class: "btn btn-primary" %>

<% end %>

<div>
  <%= link_to "Back", my_items_path, :class => "btn btn-primary" %>
</div>