 <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, placeholder: "first name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, placeholder: "last name"  %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "e-mail address"  %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "password"  %>
  </div>

  <div><%= f.submit "Sign-up", :class => 'btn btn-primary'%></div>