<h1>Edit An Existing Trip</h1>
<hr>

<%= form_for [:my, @trip] do |f| %>

    <% if @trip.errors.any? %>
    <div class="error_messages"%>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @trip.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <%end %>
  
  <%= render f %>

  <%= f.submit "Update Trip", class: "btn btn-primary" %>

<% end %>

<div>
  <%= link_to "Back to Dashboard", my_trips_path, :class => "btn btn-primary" %>
</div>

