<h1><%= @user.first_name.possessive %> Trips</h1>
<hr>

<div class="span12">
  <input class="search-query" type="text" placeholder="Search trips">
</div>

<br/>
<br/>

<table class="table table-striped table-bordered table-condensed span12">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>

  <% @user.trips.each do |trip| %>
    <tr>
      <td class="name"><%= trip.title %></td>
      <td>
        <%= trip.description %>
          <p><%= pluralize(trip.users.count, "person")%> on this trip</p>
      </td>
      <td><%= trip.start_date %></td>
      <td><%= trip.end_date %></td>
      <td><%= link_to "Edit", edit_my_trip_path(trip)%></td>
      <td><%= link_to "Delete", my_trip_path(trip), method: :delete, data: {confirm: 'Are you sure?'}%></td>
      <td><%= link_to "View", my_trip_path(trip) %></td>
    </tr>
  <% end %>
</table>

<hr class="clearfix">

<div class="span2">
  <%= link_to "New Trip", new_my_trip_path, :class => "btn btn-primary" %>
  <br/>
  <br/>
  <%= link_to "Back", root_path, :class => "btn btn-primary" %>
</div>


