<h1>My Trips</h1>

<table>

  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <%= @user %> <br/>
  <%= @user.first_name %> <br/>
  <%= @user.trips.inspect %>

  <% @user.trips.each do |trip| %>
    <tr>
      <td><%= trip.title %></td>
      <td><%= trip.description %></td>
      <td><%= trip.start_date %></td>
      <td><%= trip.end_date %></td>
    </tr>
  <% end %>

</table>

<div>
  <%= link_to "New Trip!", new_my_trip_path, :class => "btn btn-primary" %>
</div>



