<%= @trip.location %>
<%= @trip.latitude %>
<%= @trip.longitude %>

<div class="container">
  <h1><%= @trip.title %></h1>  
  <hr>
  <div class="row">
    <div class="span6">
      <h5>Trip Details</h5>
      <p><%= @trip.description %></p>
      <h5>Dates</h5>
      <p>Starts <%= @trip.start_date.strftime('%B %e, %Y') %> and ends on <%= @trip.end_date.strftime('%B %e, %Y') %>.</p>
      <% if @trip.users.count > 1 %>
        <h5>People On This Trip</h5>
        <ul>
          <% @trip.users.each do |user| %>
            <% if user.first_name == nil %>
              <li>
                  <%= user.email %> - 
                  <em class="text-warning">unverified account</em>
              </li>
            <% else %>
              <li>
                <%= user.first_name %> <%= user.last_name %> - 
                <em class="text-success">verified account</em>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>

    </div> <!-- end .span8 -->

    <div class="span6">
      <h5>Invite more friends!</h5>
      <p>Enter the email address of who you would like to invite. Why? Because the more the merrier!</p>

      <%= form_tag invite_my_trip_path(@trip), :method => :post do %>
        <%= text_field_tag :email%>
        <br/>
        <%= submit_tag "Invite!", :class => "btn btn-success" %>
      <% end %>

      <h5>Location</h5>
      
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=8&markers=#{@trip.latitude}%2C#{@trip.longitude}" %>
    </div>


  </div> <!-- end .row -->
  
  <hr>

  <div class="row">
    <div class="span12">
      <%= link_to "Back", my_trips_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div> <!-- end .container -->
